
  <header>
     
  <div class="container text-center">
    
      <div class= "content"> 
        <p class="welcome-text">Welcome to </p>
       
        <div class="row align-items-center">

          <div class="header-content" >

            <div class="col" >
              <a href="https://stetter-itq.com"> 
                <img  class="GC-logo-size" src="assets/images/ITQLogoGC.png " alt="Company Logo GC" > 
              </a>
            </div>
  
            <div class = "col">
              <a href="#home"> 
                <img class="Makeathon-logo-size" src="assets/images/Smart-Green-Island-Makeathon.jpg" alt="Island Logo" >
              </a>
            </div>
  
            <div class="col" >
              <a href="https://www.itq.de">
                <img class="DE-logo-size" src="assets/images/ITQLogoDE.png" alt="Company Logo DE" > 
              </a>
            </div>
        
          </div>
        </div>

      </div>
      
  </div> 



 
  </header>

    

   

    
  